In [87]:
#Differentiate between lists and tuples?
#Ans - 

lst = [1,2,4,'RT','Name is Rahul']
#lst[3] = 'AB'
#lst

tpl = (1,2,4,'RT','Name')
tpl[3] = 'AB'

TypeError: 'tuple' object does not support item assignment

In [89]:
# Concept of Negative Indexing?

#lst[-1] 

tpl[-1]

'Name'

In [95]:
#How would you convert a string into lowercase,uppercase,capitalize,title,swapcase format??

st = 'Hello World i am a PythoN BeginneR'
st.swapcase()

'hELLO wORLD I AM A pYTHOn bEGINNEr'

In [97]:
# Difference between break and continue statement in Loops???

for i in range(7):
    if i==3: 
        continue
    print(i)

0
1
2
4
5
6

In [99]:
# To get a list of all the keys/values in a dictionary?

dct = {1:'Andhra',2:'Karnataka',3:'UP',4:'TN'}
dct.values()

dict_values(['Andhra', 'Karnataka', 'UP', 'TN'])

In [101]:
# to check for any value/variable if it is alphanumeric???

st = 'Hello123'
st.isalnum()

True

In [103]:
# How to reverse a list and print it???
lst = [1,2,3,4,5,6,7]

#for x in lst[::-1]:
 #   print(x)
    

lst.reverse()
lst

[7, 6, 5, 4, 3, 2, 1]

In [105]:
# To return from a function???

def add(num1,num2):
    return num1+num2

add(15,12)

27

In [108]:
# How do you take input at runtime in Python from the user itself?

def add():
    num1 = int(input('Enter 1st number:' ))
    num2 = int(input('Enter 2nd number:' ))
    return num1+num2


add()

Enter 1st number:12
Enter 2nd number:23

35

In [111]:
# Remove duplicates from a list?

lst = [1,2,3,3,4,5,5,5,6,6,7,8,7,6,5]
rm_duplst = list(set(lst))
rm_duplst

[1, 2, 3, 4, 5, 6, 7, 8]

In [115]:
# How will you convert a list into a string???

lst = ['Hi','we','are','converting','lists', 'into', 'string']
st_cnvrtd = ' '.join(lst)
st_cnvrtd

'Hi we are converting lists into string'

In [117]:
# What is recursion? when a function in its definition calls itself, this is called recursion.

def facto(n):
    if n==1 or n ==0: 
        return 1
    else:
        return n*facto(n-1)

facto(6)

720

In [120]:
# Write a list comprehension to return squares of a number ranging from 1 to 9???

lst = [x**(0.5) for x in range(1,10)]
lst

[1.0,
 1.4142135623730951,
 1.7320508075688772,
 2.0,
 2.23606797749979,
 2.449489742783178,
 2.6457513110645907,
 2.8284271247461903,
 3.0]

In [121]:
# Write a Lambda expression????
#Lambda expressions allow us to create "anonymous" functions. 
#This basically means we can quickly make ad-hoc functions without needing to properly define a function using def.

x = lambda a : a * 10
print(x(3))

30

In [122]:
##Lambda expression for reversing a string: 

new_s = lambda s: s[::-1]
print(new_s('Hello World'))

dlroW olleH

In [4]:
# DAY 2: LAMBDA EXPRESSIONS PRACTICE

#Lambda expressions are anonymous functions which accepts any number of arguments but only 
#one expression is evaluated and returned in the result set.

#Create a lambda function that adds 15 to a given number passed in as an argument??

#SYNTAX: lambda inputvariable:  expected operation as a result

x = lambda a: a+15
print(x(5))

20

In [6]:
#Create a lambda function that multiplies argument num1 with argument num2 and print the result.

rslt = lambda num1,num2: num1*num2
print(rslt(5,14))

70

In [26]:
#To Sort a list of tuples using Lambda???

marks = [('Paper1', 80), ('Paper2', 90), ('Paper3', 97), ('Paper4', 82)]

marks.sort(key = lambda x:x[1])
marks

[('Paper1', 80), ('Paper4', 82), ('Paper2', 90), ('Paper3', 97)]

In [27]:
# To extract year, month, date and time using Lambda???

import datetime as dt

curr_dt = dt.datetime.now()
print(curr_dt)


year = lambda x: x.year               #year extracting
month = lambda x: x.month             #month extracting
day = lambda x: x.day                 #date extracting
t = lambda x: x.time()                #timestamp extracting

print(year(curr_dt))
print(month(curr_dt))
print(day(curr_dt))
print(t(curr_dt))

2020-05-10 23:27:35.196620
2020
5
10
23:27:35.196620

In [28]:
#Lambda expression to filter out even and odd numbers from a given List???? Syntax: filter(expression, sequence)

lsts = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

print("\nEven numbers are below:")
even_nums = list(filter(lambda x: x%2 == 0, lsts))
print(even_nums)

print("\nOdd numbers are below:")
odd_nums = list(filter(lambda x: x%2 != 0, lsts))
print(odd_nums)

Even numbers are below:
[2, 4, 6, 8, 10]

Odd numbers are below:
[1, 3, 5, 7, 9]

In [2]:
# to check for the string if its palindrome or not???  Syntax: filter(function, sequence)


lsts = ["php", "abc",'malayalam','nitin']
print(lsts)

result = list(filter(lambda x: x==x[::-1],lsts)) 
print('\nPalindromes from above list are below')
print(result)

['php', 'abc', 'malayalam', 'nitin']

Palindromes from above list are below
['php', 'malayalam', 'nitin']